@import "dashboard";

.main_grid {
    border-top: 2px solid #e6e7e8;
}

.left_cell {
    background-color: #EEF2F5;
    width: 73% !important;
    margin: 0;
    padding: 8px;
}

.left_container {
    margin: 25px 20px 30px 75px;
    background-color: #fff;
    > div {
        padding: 10% 15%;
        text-align: center;
        > span {
            display: block;
            width: 50%;
            margin: auto;
            > div {
                padding-bottom: 5px;
            }
        }
        > small {
            display: block;
            width: 50%;
            margin: auto;
            margin-bottom: 20px;
        }
    }

    .vendor_button {
        border-radius: 10px;
        font-size: 1.3rem;
        height: 2.7rem;
        line-height: 2.7rem;
        text-transform: none;
        font-weight: 500;
    }

    .validation_button {
        padding: 0 30px;
        margin: 0 35px 10px 0;
        border-radius: 10px;
        font-size: 1.2rem;
        height: 2.5rem;
        line-height: 2.5rem;
        font-weight: normal;
        text-transform: none;
        color: #fff!important;
        background-color: $color-primary!important;
    }

    .info_button {
        position: absolute;
        top: 0;
        left: 91%;
        color: #949494!important;
        span {
            font-size: 1.8rem;
        }
    }

    .main_content {
        color: #898989;
        h5 {
            margin-bottom: 2rem;
            letter-spacing: -1px;
        }
        h4 {
            position: relative;
            display: inline-block;
            margin: 0;
            letter-spacing: -1px;
        }
        .info_button {
            position: absolute;
            top: -18px;
            left: 96%;
            color: #949494!important;
            span {
                font-size: 1.2rem;
            }
        }
    }

    .enable_monitoring {
        color: #E69198;
        text-align: right;
        margin-right: 10px;
        > div {
            margin-top: 40px;
            text-align: right;
            width: 70%;
            display: inline-block;
            span {
                display: block;
                font-size: 1.7rem;
            }
        }
        button {
            span {
                margin-top: -10px;
                color: #E69198;
                font-size: 4rem;
            }
        }
    }
}

.right_cell {
    width: 27% !important;
    margin: 0;
    padding: 0;
    border-bottom: none;
}

.right_container {
    margin: 0;
    background-color: #fff;
    position: relative;
    a {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .right_backdrop {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        opacity: .7;
    }
    .right_content {
        margin-top: 4.5rem;
        text-align: center;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        u {
            text-decoration-color: $color-primary;
        }
        h4 {
            margin-bottom: 0;
            line-height: 2rem;
            + h4 {
                margin-top: 0;
            }
        }
        ul {
            width: 80%;
            margin: 3rem auto 4.5rem auto;
            list-style: none;
            padding: 0;
            font-size: 20px;
            text-align: center;
            li {
                margin: auto;
                margin-bottom: 25px;
                width: 85%;
                span {
                    color: #FDBC60;
                }
                + li {
                    width: 75%;
                    span {
                        color: $color-primary;
                    }
                }
            }
        }
        div {
            width: 88%;
            margin: auto;
            p {
                font-size: 1.45rem;
                margin-bottom: 5px;
                text-align: left;
                letter-spacing: -1px;
                font-weight: 100;
            }
            button {
                font-size: 1.9rem;
                width: 100%;
                background: #FC9806!important;
                text-transform: none;
            }
        }
    }
    .get_started {
        border-radius: 0;
    }
}

@media (max-width: 839px) {
    .left_cell {
        width: 75%;
    }

    .rigth_cell {
        width: 25%;
    }
}

@media (max-width: 479px) {
    .left_cell {
        width: 100%!important;
    }
}
