@import "button_config.scss";

@import "~react-toolbox/lib/button/theme";

.button {
    font-family: Calibri, "Helvetica","Arial",sans-serif;
}

:global {
    .circularProgressBar {
        width: 22px !important;
        height: 36px !important;
    }
}
