@import "dashboard";

.monthsDisplay {
    background-color: $color-primary;
}

.day:hover span {
    background: $color-primary!important;
    opacity: .6;
}

.active span {
    background: $color-primary!important;
}

.button {
    color: $color-primary!important;
}

.input {
    padding-bottom: 0;
}

.inputElement {
    border: none;
    font-size: 1.8rem;
    letter-spacing: -2px;
}

.label {
    color: #8D8D8D;
    font-size: 1.3rem!important;
    letter-spacing: -1px;
}

.label::after {
    content: '';
    position: absolute;
    left: 110%;
    top: 0;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid #8D8D8D;
    clear: both;
}

@media (max-width: 479px) {
    .label::after {
        left: 145%;
    }
}
