@import "dashboard";

$input-padding-bottom: 0;
$input-padding-top: 0.7em;
$input-filled-padding-bottom: 0.35em;
$input-filled-padding-top: $input-filled-padding-bottom;

$label-top: 1.3em;
$label-filled-padding-top: 0;
$label-filled-padding-left: 0;

.inputElement {
    &:focus:not([disabled]):not([readonly]), &.filled {
            padding-bottom: $input-filled-padding-bottom;
            padding-top: $input-filled-padding-top;

        ~ .label:not(.fixed) {
            top: $label-filled-padding-top;
            padding-left: $label-filled-padding-left;
            font-size: $label-font-size-active;
        }
    }
}

.input {
    padding-top: 1em;
    padding-bottom: 0;
}

.inputHelp {
    margin-top: -15px;
}

.checkbox {
    margin-top: 25px;
}

.card {
    margin-bottom: 20px;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
}

.input:not(.disabled) > .inputElement {
    font-size: $input-font-size;
    color: $input-color-light;
    padding-bottom: $input-padding-bottom;
    padding-top: $input-padding-top;
    transition-property: top, font-size, color, padding;

    &:focus,
    &.filled {
        padding-bottom: $input-filled-padding-bottom;
        padding-top: $input-filled-padding-top;
    }
}

.input.disabled > .inputElement {
    font-size: $input-font-size;
    padding-bottom: $input-padding-bottom;
    padding-top: $input-padding-top;
    &.filled {
        padding-bottom: $input-filled-padding-bottom;
        padding-top: $input-filled-padding-top;
    }
}

.label {
    font-size: $label-font-size;
    color: $label-color-light;
    top: $label-top;
    transition-property: top, font-size, color, padding;
}

.vendor_id_input input {
    width: 70%;
    border: 1px solid #D5D5D5;
    height: 24px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

.validation_token_input input {
    width: 100%;
    border: 1px solid #D5D5D5;
    height: 24px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

.vendor_id_input label, .vendor_id_input span {
    display: none;
}

.validation_test_component input {
    width: calc(100% - 12px);
    font-size: 1.4rem!important;
    letter-spacing: -1px;
    border: 2px solid #E7E7E7;
    height: 34px;
    border-radius: 0px;
    margin: auto;
    padding: 0 0 0 8px!important;
    color: #7E7E7E!important;
}

.validation_test_component label, .validation_test_component span {
    display: none;
}

.validation_input {
    padding: 0!important;
    width: 50%;
    margin-left: 28%;
    &::after {
        content: '';
        position: absolute;
        left: calc(100% + 5px);
        top: 6px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #9A9A9A;
        clear: both;
    }
    .inputElement {
        color: #9D9D9D!important;
        font-size: 1.2em!important;
        padding: 0!important;
        border: 0;
        display: inline-block;
        &:focus:not([disabled]):not([readonly]),
        &.filled {
            & ~ .label:not(.fixed) {
                display: none;
            }
        }
        &.filled {
            + span, + label {
                display: none;
            }
        }
    }
    .bar {
        display: none;
    }
    span, label {
        top: 0;
        left: 0;
        color: #9D9D9D!important;
        .required {
            display: none;
        }
    }
}

.validation_input.vendor_input {
    width: 35%;
}

:global {
    .custom-json {
        padding: 0;
        & textarea {
            border: 1px solid rgba(0, 0, 0, 0.12) !important;
            width: 50% !important;
            height: 220px!important;
            resize: none;
            overflow: auto;
            fontSize: "1em";
        }
        & span {
            width: 50% !important;
            top: 1rem !important;
        }
    }
    .sm-input {
        label, input {
            font-size: 1.2em;
        }
        padding-bottom: 10px;
    }
    .script-input {
        padding-bottom: 10px;
        textarea {
            height: 170px !important;
        }
        .hint p {
            margin: 0 0 8px 0 !important;
            font-size: 1.6rem;
        }
    }
}
