.dropdown {
    width: 190px;
    position: absolute;
    top: 70px;
    left: 130px;
    &.active {
        > .values {
            max-height: 48vh;
        }
    }
}

.field {
    padding: 0;
}

.templateValue {
    min-height: auto;
    border-bottom: none;
    div {
        opacity: .6;
        > strong {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                right: -20px;
                top: 6px;
                width: 0;
                height: 0;
                border-left: 0.54857rem solid transparent;
                border-right: 0.54857rem solid transparent;
                border-top: 0.54857rem solid #9A9A9A;
                clear: both;
            }
        }
    }
}

.value {
    padding: 0;
    input {
        color: #C7C9CA;
        font-size: 1.2rem;
        border-bottom: none;
        padding: 0;
    }
    &::after {
        content: "";
        border: none;
    };
}

.values {
    top: 10px!important;
    padding-left: 0;
    white-space: nowrap;
}
