.container {
    width: 100%;
    display: inline-block;
    margin: 0 50px 0 10%;
    div {
        display: block;
        width: 100%;
        margin-top: 10px;
        color: #919193;
        font-size: 1.4rem;
        span {
            float: none;
        }
    }
}
