.main_container {
    display: flex;
    flex-flow: row wrap;
}

.button_container {
    display: inline-block;
    &.right {
        text-align: right;
    }
    &.left {
        margin-left: 36px;
        width: calc(16.6666666667% - 54px);
        button {
            width: 100%;
        }
    }
}

.validation_text {
    display: inline-block;
    margin: 0 28px 20px 28px;
    color: #E69198;
}
