.main_container {
    display: flex;
    flex-flow: row wrap;
}

.button_container {
    display: inline-block;
    &.right {
        text-align: right;
        margin-left: calc(66.6666666667% + 8px);
    }
    &.left {
        margin-left: 36px;
        width: calc(16.6666666667% - 54px);
        button {
            width: 100%;
        }
    }
}

.token_container {
    width: 100%;
    text-align: right;
    & a {
        display: block;
        margin-left: auto;
    }
    & > div {
        margin-left: auto;
        width: 100%;
        & > input {
            text-align: right;
        }
        & > label {
            right: 3px;
        }
    }
}

.refresh_token {
    display: inline-block!important;
    text-decoration: none;
    padding-right: 5px;
}

.copy_token {
    display: inline-block!important;
    text-decoration: none;
    padding-right: 5px;
    position: absolute;
    right: -5px;
}

.token_input {
    display: inline-block;
}

.validation_text {
    display: inline-block;
    margin: 0 28px 20px 28px;
    color: #E69198;
}

.get_token {
    padding: 0!important;
    width: 50%;
    margin-left: 28%;
    font-size: 1.2rem;
}

.yaml_editor_container {
    margin: 0 36px;
    width: 100%;
    button {
        background-color: #4A4B4D;
        color: #fff;
        font-size: 1.5rem;
        border: none;
        margin: 0 0 5px 5px;
        width: 13%;
        padding: 5px 0;
        font-family: 'Khand', sans-serif;;
        float: right;
        &[disabled] {
            background-color: #9D9D9D;
        }
    }
    > span {
        width: calc(74% - 10px);
        display: inline-block;
    }
}

:global {
    .ace_editor, .ace_editor div, .ace_editor span{
        font-family: monospace;
        font-size: 14px !important;
    }
}

@media (max-width: 839px) {
    .button_container {
        &.right {
            margin-left: calc(59.666667% + 8px);
        }
    }
}

@media (max-width: 478px) {
    .button_container {
        &.right {
            margin-left: calc(34.666667% + 8px);
        }
    }
}
