.main_container {
    display: flex;
    flex-flow: row wrap;
}

.button_container {
    display: inline-block;
    &.right {
        text-align: right;
    }
    &.left {
        margin-left: 36px;
        width: calc(16.6666666667% - 54px);
        button {
            width: 100%;
        }
    }
}

.token_container {
    width: 100%;
    text-align: right;
    & a {
        display: block;
        margin-left: auto;
    }
    & > div {
        margin-left: auto;
        width: 100%;
        & > input {
            text-align: right;
        }
        & > label {
            right: 3px;
        }
    }
}

.refresh_token {
    display: inline-block!important;
    text-decoration: none;
    padding-right: 5px;
}

.token_input {
    display: inline-block;
}

.validation_text {
    display: inline-block;
    margin: 0 28px 20px 28px;
    color: #E69198;
}

.get_token {
    padding: 0!important;
    width: 50%;
    margin-left: 28%;
    font-size: 1.2rem;
}
