.container {
    width: 100%;
    display: inline-block;
    margin: 0;
    div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
        color: #919193;
        font-size: 1.4rem;
        span {
            float: none;
            + span {
                margin-right: .3rem;
            }
        }
    }
}
