.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .item {
        background-color: #fff;
        width: 22vw;
        height: 16vw;
        border: 2px solid #EBEEF3;
    }
}
