.container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    // max-width: 200px;
    max-height: 410px;
    padding: 2rem 2rem;
    > div {
        > img {
            justify-content: center;
            margin: auto;
            visibility: hidden;
        }

        width: 100%;
        display: flex;
        // flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        > p {
            font-size: 1.36rem;
            text-align: center;
            width: 100%;
            margin: auto;
            padding: 1.2rem;
            font-family: Khand;
        }
    }
}

.cardContainer{
    display: flex;
    flex-Direction: row;
    box-shadow:  darkgrey 1px 30px 24px;
    max-height: 500px;
    width: 1000px;
    border-radius: 1rem;
}

.invalid{
    color: #9e2146;
    font-size: 16px;
}