.container {
    display: flex;
    justify-Content: center;
    width: 100%;
    height: 600px;
}

.cardContainer{
    display: flex;
    flex-Direction: row;
    box-shadow:  darkgrey 1px 30px 24px;
    max-height: 500px;
    width: 800px;
    border-radius: 1rem;

}

.invalid{
    margin-top: 1rem;
    color: #9e2146;
    font-size: 16px;
}
.success{
    margin-top: 1rem;
    color: green;
    font-size: 16px;
}
.loading{
    margin-top: 1rem;
    color:grey;
    font-size: 16px;

}

.cardPayment{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-self: center;

}

.botton{
    width: 200px;
    margin-top: 1rem;
}

.fake_form{

    > div{
       + div {
        display: block;
        font-size: 18px;
        color:#424770;
        letter-spacing: 0.025rem;
        font-family: 'Source Code Pro', monospace;
        // margin-bottom: 1rem;

        > label{
            display: block;
            font-size: 14px;
            color: #000;
            letter-spacing: 0.025rem;
            font-family: 'Source Code Pro', monospace;

        }
       }
    }
}